/* fonts */
$main-font: "Poppins", sans-serif;
$title-font: "Rammetto One", cursive;

/* others */
$transition: all 0.4s ease;
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

/* colors */
$light-clr-bg: #c4ddff;
$light-clr-bg-variant: #7fb5ff;

$light-clr-primary: #001d6e;
$light-clr-primary-variant: rgba($light-clr-primary, 0.4);

$light-clr-text: rgb(0, 0, 0);
$light-clr-text-opa: rgba($light-clr-text, 0.6);
