@import "../../styles/main.scss";

nav {
  width: max-content;
  display: block;
  padding: 12px 28px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  display: flex;
  gap: 12px;
  border-radius: 48px;
  backdrop-filter: blur(8px);

  a {
    background: transparent;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
  }

  .language-switch {
    border-radius: 50%;
    padding: 20px;
    font-size: 15px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $transition;
    font-weight: bold;
    background: rgba($light-clr-primary, 0.1);
    border: 1px solid rgba($light-clr-primary, 0.5);
  }
}

.light {
  nav {
    background: rgba($light-clr-primary, 0.3);
    a {
      background: transparent;
      color: $light-clr-text;
      &:hover {
        background: rgba($light-clr-primary, 0.4);
      }
      &.active {
        background: $light-clr-primary;
        color: $light-clr-bg;
      }
    }
    .language-switch {
      &:hover {
        background: rgba($light-clr-primary, 0.4);
      }
    }
  }
}
.dark {
  nav {
    background: rgba($dark-clr-primary, 0.3);
    a {
      background: transparent;
      color: $dark-clr-text;
      &:hover {
        background: rgba($dark-clr-primary, 0.4);
      }
      &.active {
        background: $dark-clr-primary;
        color: $dark-clr-bg;
      }
    }
    .language-switch {
      &:hover {
        background: rgba($dark-clr-primary, 0.4);
      }
    }
  }
}
